body {
    background-color: #eee;
    margin: 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}


/* HEADER */
.menu-principal {
    list-style: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    font-size: 25px;

}

.menu-principal li {
    float: left;
}

.menu-principal li a:hover {
    background-color: rgba(0,0,0,0.3);
}

.menu-principal li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 28px;
    text-decoration: none;
}

.active {
    background-color: #2E5266;
}


/* DROPDOWN */

.menu-principal .seccion-principal {
    position: relative;
}

.menu-principal .seccion-principal ul {
    background-color: #fff;
    list-style: none;
    position: absolute;
    padding: 0;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
}

.menu-principal .seccion-principal ul li {
    display: none;
    float: none;
}

.menu-principal .seccion-principal ul li a {
    color: #000;
    padding: 15px 20px;
    font-size: 20px;
    min-width: 120px;
    text-align: left;
    padding-left: 40px;
}

.menu-principal .seccion-principal:hover ul li {
    display: block;
}

.menu-principal .seccion-principal ul li a:hover {
    color: #000;
    background-color: rgba(159, 177, 188,0.4);

}

/* SECTION */

section {
    margin-top: 100px;
}

.finalidad {
    width: 50%;
    margin: 0 auto;
    padding: 1px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: justify;
    font-size: 20px;
    color: #aaa;
    background-color: #fff;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.caja {
    border: 1px solid #ddd;
    margin: 40px;
    border-radius: 4px;
}  
  
.uno {
    width: 500px;
    height: 600px;
    border: 1px solid #6e8898;
}

.dos {
    width: 700px;
    height: 500px;
    border: 1px solid #9fb1bc;
}

.tres {
    width: 900px;
    height: 600px;
    border: 1px solid #e2c044;
}

.cuatro {
    width: 150px;
    height: 500px;
    border: 1px solid #d3d0cb;
}

/* FOOTER */

footer {
    background-color: #000;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 50px;
}

.flex-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 60px;
}

.redes ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.redes ul li {
    float: left;
}

.redes ul li a {
    list-style: none;
    text-decoration: none;
    color: #ccc;
    display: block;
    padding: 0 20px;
    line-height: 40px;
}

.redes ul li a:hover {
    color: #eee;
}

.nombre h3 {
    font-size: 16px;
    margin: 0;
    padding: 0 20px;
    line-height: 40px;
}


/* MEDIA QUERY */

@media screen and (max-width: 650px) {
    section {
        margin-top: 250px;
    }
}

@media screen and (max-width: 380px) {
    section {
        margin-top: 325px;
    }
}